# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Dataset
data/
# ===========================

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Generated Outputs
# ==========================
outputs/*.mp4
outputs/*.avi

# Keep PNG outputs
!outputs/loss_curve.png
!outputs/prediction.png

# ==========================
# Keep trained model
# ==========================
# models/checkpoints/best_model.pth